<p class="text-right">
  <small>
    <strong>Sort:</strong> [
      <%= link_to "API", {sort_tags_by: "api", sort_tags_order: sort_tags_order}, class: {"text-reset": true, "font-weight-bold": sort_tags_by == "api"} %>
      |
      <%= link_to "Name", {sort_tags_by: "name", order: sort_tags_order}, class: {"text-reset": true, "font-weight-bold": sort_tags_by == "name"} %>
      |
      <%= link_to "Version", {sort_tags_by: "version", order: sort_tags_order}, class: {"text-reset": true, "font-weight-bold": sort_tags_by == "version"} %>
    ]
    <strong>Order:</strong> [
      <%= link_to "ASC", {sort_tags_order: "asc", sort_tags_by: sort_tags_by}, class: {"text-reset": true, "font-weight-bold": sort_tags_order == "asc"} %>
      |
      <%= link_to "DESC", {sort_tags_order: "desc", sort_tags_by: sort_tags_by}, class: {"text-reset": true, "font-weight-bold": sort_tags_order == "desc"} %>
    ]
  </small>
</p>
