<% Hash[@repositories.group_by(&:namespace).sort].each do |namespace, repos| %>
  <%= content_tag :div, class: "breadcrumb", id: "namespace-#{namespace}" do %>
    <div class="breadcrumb-item">
      <strong>Namespace:</strong> /<%= namespace %>
    </div>
  <% end %>
  <div class="list-group">
    <% repos.each do |repo| %>
      <%= link_to repository_path(repo.name), class: "list-group-item list-group-item-action" do %>
        <strong>Image:</strong> <%= repo.image %>
      <% end %>
    <% end %>
  </div>
  <br>
<% end %>

<% if @repositories.more? %>
  <div class="text-center">
    <%= link_to "More …", root_path(last: @repositories.last.name), class: "btn btn-primary" %>
  </div>
<% end %>
