<% Hash[@repositories.group_by(&:namespace).sort].each do |namespace, repos| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= content_tag :strong, id: "namespace-#{namespace}" do %>
        Namespace:
      <% end %>
      <%= namespace %>
    </div>
    <div class="list-group">
      <% repos.each do |repo| %>
        <%= link_to repository_path(repo.name), class: "list-group-item" do %>
          <strong>Image:</strong> <%= repo.image %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @repositories.more? %>
  <%= link_to "Next", root_path(last: @repositories.last.name), class: "btn btn-default pull-center" %>
<% end %>
