<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Namespace:</strong> <%= @repository.namespace %>
    /
    <strong>Image:</strong> <%= @repository.image %>
  </div>
  <% if @repository.tags.any? %>
    <ul class="list-group">
      <% @repository.tags.sort.reverse.each do |tag| %>
        <li class="list-group-item">
        <%= link_to tag_path(repo: @repository.name, tag: tag) do %>
          <strong>Tag:</strong> <%= tag %>
        <% end %>
        <% if Rails.configuration.x.public_registry_url %>
          <div class="pull-right">
            <span id="pull-command-<%= tag.object_id %>"><%= get_pull_command(@repository.name, tag)%></span>
            <button class="btn btn-default btn-xs glyphicon glyphicon-copy" type="button" onclick="copyToClipboard('#pull-command-<%= tag.object_id %>')"></button>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="panel-body">
      No tags at the moment :(
    </div>
  <% end %>
</div>
