<%= content_tag :div, class: "breadcrumb" do %>
  <div class="breadcrumb-item">
    <strong>Namespace:</strong> /<%= @repository.namespace %>
  </div>
  <div class="breadcrumb-item">
    <strong>Image:</strong> <%= link_to @repository.image, repository_path(@repository.name) %>
  </div>
  <div class="breadcrumb-item active">
    <strong>Tag:</strong> <%= @tag.name %>
  </div>
<% end %>

<% if Rails.configuration.x.public_registry_url %>
  <div class="input-group">
    <%= text_field :image, :pull_command, value: pull_command(@repository.name, @tag.name), class: "form-control" %>
    <span class="input-group-btn">
      <a href="#" class="btn btn-outline-secondary" data-behaviour="copy-pull-command">Copy</a>
    </span>
  </div>

  <br>
<% end %>

<table class="table">
  <tr>
    <th>Content Digest</th>
    <td><code><%= @tag.content_digest %></code></td>
  </tr>
  <tr>
    <th>Layer</th>
    <td>
      <table class="table table-striped">
        <tr>
          <th>Index</th>
          <th>Digest</th>
          <% if @tag.layers.first.size.present? %>
            <th>Size</th>
          <% end %>
        </tr>
        <% @tag.layers.each do |layer| %>
          <tr>
            <td><%= layer.index %></td>
            <td><code><%= layer.digest %></code></td>
            <% if layer.size.present? %>
              <td><nobr><%= number_to_human_size layer.size %></nobr></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<% if Rails.configuration.x.delete_enabled %>
  <hr>

  <div class="jumbotron text-center">
    <h1 class="display-6">Danger Zone</h1>
    <p class="lead">
      Note: You can NOT undo this.
      <br>
      Please be careful.
    </p>
    <div class="text-center">
      <a href="#" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#delete-dialog">
        Delete this tag
      </a>
    </div>
  </div>

  <div class="modal fade" id="delete-dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          Please type in the name of the tag to enable the button:<br>
          <br>
          <%= text_field_tag :delete_confirm, nil, class: "form-control", data: { expected: @tag.name } %>
        </div>
        <div class="modal-footer">
          <%= link_to "Yes I'm sure", tag_path(@repository.name, @tag.name), method: :delete, id: "delete-button", class: "btn btn-danger disabled" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
