<div class="row justify-content-center">
  <div class="col-md-10">

    <%= render "breadcrumb" %>

    <div class="card border-docker mb-5">
      <%= content_tag :div, class: "card-header" do %>
        <%= image_tag "icons/tag.png", size: "75x75", align: "right" %>

        <span class="text-muted small">Image</span>
        <h5 class="card-title mb-1"><%= @repository.name %></h5>

        <span class="text-muted small">Tag</span>
        <h5 class="card-title mb-1"><%= @tag.name %></h5>

        <span class="text-muted small">Content Digest</span>
        <h6 class="card-title mb-0">
          <%= render partial: "shared/copy_to_clipboard", locals: { name: :content_digest, value: @tag.content_digest, title: "Copy sha" } %>
        </h6>
      <% end %>

      <div class="card-body">
        <% if Rails.configuration.x.public_registry_url %>
          <h5 class="card-title mb-2">Docker</h5>
          <%= render partial: "shared/copy_to_clipboard", locals: { name: :pull_cmd, value: pull_command(@repository.name, @tag.name) } %>
        <% end %>
        <h5 class="card-title mt-4 mb-0">Layers</h5>
      </div>

      <ul class="list-group list-group-flush">
        <% @tag.layers.each do |layer| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge badge-pill badge-dlayer mr-2 px-3"><%= format '%03d', layer.index %></span>
            <span class="flex-grow-1 text-monospace small text-truncate"><%= layer.digest %></span>
            <% if layer.size.present? %>
              <nobr class="text-muted small"><%= number_to_human_size layer.size %></nobr>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if Rails.configuration.x.delete_enabled %>
      <%= render "delete" %>
    <% end %>

  </div>
</div>
