<%= content_tag :ol, class: "breadcrumb bg-transparent px-0" do %>
  <div class="breadcrumb-item">
    <%= link_to root_path do %>
      <%= image_tag "icons/home.png", size: "16x16" %>
    <% end %>
  </div>

  <%= content_tag :div, class: "breadcrumb-item" do %>
    <%= link_to @repository.namespace.presence || "root", root_path, data: { toggle: "tooltip" }, title: "Docker Namespace" %>
  <% end if @repository && @repository.namespace.presence %>

  <%= content_tag :div, class: "breadcrumb-item" do %>
    <%= link_to @repository.image, repository_path(@repository.name), data: { toggle: "tooltip" }, title: "Docker Image" %>
  <% end if @repository && @repository.image.presence %>

  <%= content_tag :div, class: "breadcrumb-item" do %>
    <%= @tag.name %>
  <% end if @tag && @tag.name.presence %>
<% end %>
