<!DOCTYPE html>
<html>
<head>
  <title>Docker Registry Browser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="https://maxcdn.icons8.com/Color/PNG/48/Logos/docker-48.png" title="Docker" width="42" style="display: inline-block">
          Registry Browser
        </a>
      </div>
    </div><!--/.container-fluid -->
  </nav>
  <div class="container">
    <%= render "flash" %>
    <%= yield %>
  </div>
  <hr>
  <footer>
    <div class="container">
      <small>
        <a href="https://github.com/klausmeyer/docker-registry-browser">
          Docker Registry Browser
        </a>
        -
        Running on Ruby <%= RUBY_VERSION %> and Rails <%= Rails.version %> in <%= Rails.env %> mode
        -
        Icons by <a href="https://icons8.com">icons8.com</a>
      </small>
    </div>
  </footer>
</body>
</html>
